.alert-container{
    background-color: red;
    width: 100%;
    max-width: 350px;
    padding: 24px;
    border-radius: 8px;

    position: absolute;
    right: 32px;
    bottom: 32px;
    z-index: 1;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

.alert-title{
    margin-bottom: 32px;
}

.alert-title, .alert-message {
    color: black;
}