/*table*/

table{
    width: 100%;
    text-align: center;
    border-spacing: 0 0.5rem;
    
}

table thead th{
    background-color: white;
    color: black;
    opacity: 2em;
    padding: 1em;
    font-size: 0.9em;
   
    
}

table tbody td:first-child{
    margin-top: 24px;

}

table tbody td {
    background-color: #fff;
    color: black;
    padding: 1.2em;
    font-weight: 700;
}

#loading-message{
    text-align: center;
    color: rgb(27, 26, 26);
    margin-top: 2em;
}


.check{
   
 padding: 10px;
 cursor: pointer;
 margin-right: 20px;
}


@media (max-width:947px){
    .header h1 a {
       
        font-size: 1em;
   
    }

    

    table thead th{
        width: 100px;
        font-size: 0.8em;
        
    }

    .main-header #count-list{
        margin-left: 5px;
        font-size: 1.8em;
    }
    
    .main-header .btn-new-list{
        
        margin-left: 5px;
    }

    .main-header .total-list{
        margin-right: 5px;
        font-size: 1em;
    }
    .modal-background .modal-container{
        
        width:90%;
        
       
        
    }
        
    
    
}




@media (max-width:500px){
    .header h1 a {
       
        font-size: 1em;
   
    }

    

    table thead th{
        width: 100px;
        font-size: 0.8em;
        
    }

    .main-header #count-list{
        margin-left: 5px;
        font-size: 1.8em;
    }
    
    .main-header .btn-new-list{
        
        margin-left: 5px;
    }

    .main-header .total-list{
        margin-right: 5px;
        font-size: 1em;
    }
    .modal-background .modal-container{
        
        width:90%;
        
       
        
    }
        
    
    
}


@media (max-width:320px){
    .header h1 a {
       
        font-size: 1em;
   
    }

    

    table thead th{
        width: 100px;
        font-size: 0.8em;
        
    }

    .main-header #count-list{
        margin-left: 5px;
        font-size: 1.8em;
    }
    
    .main-header .btn-new-list{
        
        margin-left: 5px;
    }

    .main-header .total-list{
        margin-right: 5px;
        font-size: 1em;
    }
    .modal-background .modal-container{
        
        width:90%;
        
       
        
    }
        
    
    
}